@model TaskApp.View.Models.ListAllModel

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <table id="tasks" data-direction="@Model.direction" data-sort="@Model.sort">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Notes</th>
                        <th>@Html.ActionLink("Priority", "ListAll", "Task", new { sortBy = "priority"}, new { id = "priority" })</th>
                        <th>@Html.ActionLink("Date Created", "ListAll", "Task", new {sortBy = "dateCreated"}, new { id = "dateCreated" })</th>
                        <th>@Html.ActionLink("Due Date", "ListAll", "Task", new {sortBy = "dueDate"}, new { id = "dueDate" })</th>
                        <th>Estimate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (TaskApp.View.Models.TaskModel task in Model.taskModels)
                    {
                        <tr>
                            <td>@task.name</td>
                            <td>@task.description</td>
                            <td>@task.notes</td>
                            <td>@task.priority</td>
                            <td>@task.dateCreated</td>
                            <td>@task.dueDate</td>
                            <td>@task.time @task.type</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </section>
}


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var tasks = $("#tasks"),
                direction = tasks.data("direction"),
                sortBy = tasks.data("sort");
            $("#tasks a").each(function () {
                var url = $(this).attr("href");
                if ($(this).attr("id") === sortBy) {
                    if ("a" === direction) {
                        $(this).attr("href", url + "&direction=d");
                    }
                }            
            });
        });
    </script>
}
